body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;


}

.text-box {

    border-style: solid;
    border-width: 1px;
    padding: 10px;


}

.med-grey {

    color: #646464;
}

a:link {
    text-decoration: none;
    color: #4c6a7f;
}

a:visited {
    text-decoration: none;
    color: #4c6a7f;
}

a:hover {
    text-decoration: none;
    color: #afacbf;
}

a:active {
    text-decoration: none;
}

.p-link a:link {

    text-decoration: underline;
    color: #4c6a7f;

}

.pimg1, .pimg2, .pimg3, .pimg4 {

    position: relative;
    opacity:0.90;
    background-position: center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;


}

.pimg1{

    background-image:url(/imgs/home/zori-book-cover.jpg);
    min-height: 100%;
    background-position-y: 0%;

}

.pimg2{

    background-image:url(/imgs/home/ship-lander.jpg);
    min-height: 100%;



}

.pimg3{

    background-image:url(/imgs/home/map-zori.jpg);
    min-height: 400px;


}

.pimg4{

    background-image:url(/imgs/home/cartha-front.jpg);
    min-height: 100%;
    background-position-y: 0%;

}





.section{

    text-align: center;
    padding: 50px 80px;



}

.section-light{

    background-color: #f4f4f4;
    color: #666;

}

.section-dark{

    background-color: #282e34;
    color: #ddd;

}

.ptext{

    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;


}

.ptext-black{

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #343434;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;


}

.ptext a{

    color: #4c6a7f;
}

.ptext a:hover{

    color: #afacbf;
}


.subtext {

     color: #b3b3b3;
     font-size: 12px;
     text-align: center;
     letter-spacing: 2px;


 }

.subtext-white a{

    color: white;
    background-color: #141818;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;


}


.subtext-dark {

    color: #343434;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;


}
.ptext .border{

    background-color: black;
    opacity: 1.00;
    color: #fff;
    padding: 20px 20px 40px 20px;

}

.black-background {

    background-color: #233239;
    opacity: 0.90;
    width: 100%;
    padding: 10px;



}

.ptext .border.trans{

    background-color: transparent;

}

.rotate90 {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media only screen and (max-width: 568px){

    .pimg1, .pimg2, .pimg3, .pimg4{

        background-attachment: scroll;
    }

    .ptext{


        letter-spacing: 1px;


    }

    nav .brand-logo {
        font-size: 1.5rem;
    }


}

@media only screen and (max-width: 568px){

    .image-scale {

        height: 50px;

    }


}

.bluish {

    color: #364a5e;


}

.mt-50 {

    margin-top:  50px;

}

.mt-20 {

    margin-top:  10px;

}

.mb-10 {

    margin-bottom:  10px;

}

.mb-20 {

    margin-bottom:  20px;

}

.mb-50 {

    margin-bottom:  50px;

}

.m-50 {

    margin:  50px;

}

