.square-badge-blue {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #3a8dfa;
  padding: 5px;
  color: white;
}

.square-badge-grey {

  border-radius: 3px;
  width: 50px;
  height: 15px;
  background: #e3e8eb;
  padding: 5px;
  color: #343434;
}