
.mt-10 {

  margin-top:  10px;

}

.mt-20 {

  margin-top:  20px;

}

.mt-50 {

  margin-top:  50px;

}


.ml-5 {

  margin-left: 5px;

}

.ml-10 {

  margin-left: 10px;

}

.ml-20 {

  margin-left: 20px;

}